# https://docs.travis-ci.com/user/languages/r

language: r
sudo: false
cache: packages
latex: false

bioc_packages:
  - Biobase

warnings_are_errors: false

matrix:
  include:
    - os: linux
      r: release
    - os: linux
      r: devel
    - os: osx
      r: release

